<!DOCTYPE html>
<html>
 <head>
  <title>Fooder</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
  <link rel="stylesheet" href="/app.css">
 </head>
 <body>
  <div class="container link">

    #parse( $template )

    <hr>
    <a href="/">Home Page</a>
  </div>
 </body>
</html>
